<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
       <!-- <compilation debug="false" targetFramework="4.0" />-->

    <compilation debug="true" />

    <!-- Turn on Custom Errors -->



    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/index.html" responseMode="ExecuteURL" />
        </httpErrors>

    </system.webServer>


</configuration>
