.sd_MainBox {
  background-color: #F9F9F9;
  padding-top: 31px;
}

.boxA {
  width: 100%;
  text-decoration: none;
}

.sd_boxLeft {
  margin-right: 10px;
  background-color: #FFFFFF;
}

.sd_boxRight {
  margin-left: 10px;
  background-color: #FFFFFF;
}

.colorRed {
  color: Red;
}
