.#{$grommet-namespace}table {
    width: 100%;
    overflow: hidden;
    border-spacing: 0;
    border-collapse: collapse;
}

.#{$grommet-namespace}table-row {
    height: 48px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: 500;

    &:focus {
        outline: none;
        background: #eeeeee;
    }
    
     &:hover {
        background: #eeeeee;
     }      
    
    .#{$grommet-namespace}table-row--header {
        height: 64px;
    }

    .#{$grommet-namespace}table-row--footer {
        height: 56px;
    }

    .#{$grommet-namespace}table-row--selected {
        background: #f5f5f5;
    }
}


.#{$grommet-namespace}table-cell{

    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    text-overflow: ellipsis;

    .#{$grommet-namespace}table-cell--numeric {
      text-align: right;
      flex-direction: row-reverse;
    }

    .#{$grommet-namespace}table-cell--padding {
      padding: 0 56px 0 24px;  
      &:last-child {
        padding-right: 24,
      }
    }

    .#{$grommet-namespace}table-cell--head {
        white-space: pre;
    }

   .#{$grommet-namespace}table-cell--compact {
      padding-right: 12px;
    }

    .#{$grommet-namespace}table-cell--checkbox {
        padding-left: 12px;
        padding-right: 0;
    }
}   


.#{$grommet-namespace}table--sort {

    cursor: pointer;
    display: inline-flex;
    background: transparent;
    align-items: center;
    flex-direction: inherit;
    justify-content: flex-start;

    &:focus {

    }

    .#{$grommet-namespace}table--sortlabel {}






}

    .#{$grommet-namespace}table-sort--desc {
        transform: rotate(0deg);
    }

    .#{$grommet-namespace}table-sort--asc {
        transform: rotate(180deg);
    }

  .#{$grommet-namespace}table-sort--icon {
        opacity: 0;
        font-size: 16px;
        transition: opacity,transform 200ms cubic-bezier(0.4, 0.0, 0.2, 1) 0ms;
        margin-left: 4px;
        user-select: none;
        margin-right: 4px;
    }

        .#{$grommet-namespace}table-sort--active {
        color: rgba(0, 0, 0, 0.87);

        >span {

            opacity: 1

        }

        
      
    }