// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{$grommet-namespace}header {
  background-color: #fff;
  text-align: left;
  width: 100%;



  a:not(.#{$grommet-namespace}button) {
    color: inherit;
    text-decoration: none;
    font-family: MuseoSansW01-Rounded300;
    color: #202242;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: none;
    }
  }

  .#{$grommet-namespace}status-icon {
    flex-grow: 0;
    flex-shrink: 0;
  }
}
div[role=tablist] {
  padding-top: 36px;
  width: 100%;
}

.mid {
  text-decoration: none;
  width: 76%;
  flex-direction: row;
  margin: auto;

}


.header-bar{
  position: relative;
  overflow: hidden;
  height: 10px;
  background: #eee;
}
.header-bar > i{
  position: absolute;
  width: 45%;
  border-top:  10px solid #0bf;          /* same as parent height */
  border-right: 3px solid transparent;   /* diagonality :) */
}


.school-code {
  font-size: 0.9rem;
  color: #7b7676;
}
.school-name {
    font-family:'AvantGardeGothicITCW01M_731087';
    color: #1193d4;
    font-size: 1.2rem;


}

.under {
  list-style-type: none;
}

.school-heading {
  list-style-type: none;

  padding-top: 7px;
  min-height: 34px;
}

.numba2 {

  color: #fff;
background-color: #e0e0e0;
    width: 76%;
height: 56px;
line-height: 56px;

}

.numba1 {
  width: 100%;
}




.count-ready {
  widows: 260px;
}
.numberOne {
  order: 1;
  padding-bottom: 25px;
}
.numberInner {
  width: 100%;
}

.colophon {
  width: 100%;
}

.listy {

  > a {
        text-decoration: none;
  }

  padding-left: 5px;
  list-style-type: none;
}

.footerContainer {
  justify-content: center;
}
img {
    max-width: 273px;
    font-style: italic;
    vertical-align: middle;
}

.list-inline {
  }

.first-header {
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 18px;
    padding-top: 20px;
    height: 25px;

}

.second-header {
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(0,0,0,.1);


}


ul.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    text-decoration: none;

}

.menu a {
    color: #202242;
    font-size: 19px;
    display: block;
    padding: 0rem 2rem 0rem 1rem;
    text-align: center;
    text-decoration: none;

}

ul.breadcrumb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    text-decoration: none;
}

.breadcrumb {
  color: #fff;
  background-color: #ee6e73;
  width: 100%;
  height: 56px;
  line-height: 56px;
}

.breadcrumb a {
    color: #202242;
    font-size: 19px;
    display: block;
    padding: 2rem;
    text-align: center;
    text-decoration: none;
}


.button-groups {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}


header {


}

header  {
  width: 100%;
}

.head-name, .head-code {

}

.bigup {
  flex-direction: row;
}

.link {
  color: currentColor;
  cursor: pointer;
  padding: 15px;
  position: relative;
  text-decoration: none;
  font-size: 14px;
  padding: 20px 15px;
}

.#{$grommet-namespace}header__wrapper {
  height: $header-height;
  width: 100%;
  display: flex;
  justify-content: center;


}

.#{$grommet-namespace}header  {
  display: flex;
  flex-direction: column;
  align-items: inherit;

}

.#{$grommet-namespace}header  h1 > a{

}

.#{$grommet-namespace}header__wrapper nav > ul {
    list-style: none;

}


.nav {
  justify-content: space-between;
}

.#{$grommet-namespace}header__wrapper nav > ul {



}


.#{$grommet-namespace}header--large {
  min-height: $large-header-height;

  .#{$grommet-namespace}header__content {
    line-height: $large-header-height;
  }
}

.#{$grommet-namespace}header--small {


  .#{$grommet-namespace}header__content {
    line-height: $small-header-height;
  }
}

header.#{$grommet-namespace}header {
  @include inuit-font-size($header-font-size, inherit);
  // @include transform(translate(0, 0));
  // transition: -webkit-transform 0.5s;
  // transition: transform 0.5s;

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 0;
  }

  // &.#{$grommet-namespace}box--direction-row {
  //   > * {
  //     margin-bottom: 0px;
  //   }
  // }
}

.item > * {
  margin-bottom: 0px;

}

.line-break {
    width: 100%;
}
.footerContainere {
  flex-wrap: wrap;
}
.flexy1 {
  order: 1;
  width: 217px;
}
.flexy2 {
  order: 1;
}
.flexy3 {
  order: 3;
    border-top: 1px solid #eceded;
    padding-top: 10px;
}

.footy::before, .footy::after {
  content: '';
  width: 100%;
  order: 1;
}
.item > h6 {
  color: #a5a9aa;
}

.item > a {
  color: #515557;
}
.contacts {
  background-color: inherit;

}
iframe {
    width: 105%;
    border: 0;
}
.social > div {
   height: 20px;
   margin-bottom: 10px;
   padding-right: 61px;
}
.social > div {
    float: left;
    width: 220px;
}
.social {
    padding-top: 10px;
    text-align: left;
    min-height: 60px;
    overflow: hidden;
}

.flexy4 {
  display: flex;
  margin-left: 10px;
}
.flexy5{
  display: flex;
}

.colophon:after {
    clear: both;
}
.colopon {
  flex-wrap: wrap;
}

.outCol {

  width: 350px
}

.no-heading {
  width: 200px;
padding-left: 79px;
margin-top: 22px;
}

.item-text{
  display: inline;
}

.#{$grommet-namespace}header--splash {
  @include transform(translate(0, 40vh));
}

*:not(.#{$grommet-namespace}header__container--float) > header.#{$grommet-namespace}header--float {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

header.#{$grommet-namespace}header--primary {
  .#{$grommet-namespace}header__wrapper {
    border-bottom: none;
  }
}

.#{$grommet-namespace}header:not(header) {
  &.#{$grommet-namespace}box--separator-top {
    padding-top: quarter($inuit-base-spacing-unit);
  }

  &.#{$grommet-namespace}box--separator-bottom {
    padding-bottom: quarter($inuit-base-spacing-unit);
  }
}

.footer-grid {
  padding-left: 5px;
}

.logo_1 {
  width: 192px;
}
// header with container and wrapper elements
.#{$grommet-namespace}header__container {

}

.#{$grommet-namespace}header__container--fill {
  .#{$grommet-namespace}header {
    background-color: hsla(0, 0%, 94%, 0.9);
  }
}

.#{$grommet-namespace}header__container--fixed {
  position: relative;

  .#{$grommet-namespace}header__wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
    .#{$grommet-namespace}header {
      @include media-query(lap-and-up) {
        position: fixed;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

      }
    }
  }
}

.#{$grommet-namespace}header__container--float {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}



.#{$grommet-namespace}header__wrapper--large {
  height: $large-header-height;
}

.#{$grommet-namespace}header__wrapper--small {
  height: $small-header-height;
}

.#{$grommet-namespace}header--fixed {
  .#{$grommet-namespace}header__wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: $header-background-color;
    z-index: 3;
  }

  &.#{$grommet-namespace}header--primary {
    .#{$grommet-namespace}header__wrapper {
      position: fixed;
      background-color: $header-background-color;
    }

    .#{$grommet-namespace}header__content {
      position: static;
      background-color: transparent;
    }
  }
}

.#{$grommet-namespace}header--flush {
  .#{$grommet-namespace}header__wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}
