// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.mainContainer {
  background: #f9f9f9;
}
.root-container {
  min-height: 100%
}
.detailsSelect {
  border: none;
  width: 120px;
  background: #f9f9f9;
}

.school-details-header {
  margin-left: 30px;
  padding-top: 10px;
}

.grommetux-tiles  header {

      background: #f9f9f9;
}

.super {

  width: 100%;
}
.#{$grommet-namespace}header {
  background-color: #fff;
  text-align: left;
  width: 100%;
  margin: 4px;


  a:not(.#{$grommet-namespace}button) {
    color: inherit;
    text-decoration: none;
    font-family: MuseoSansW01-Rounded300;
    color: #202242;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: none;
    }
  }

  .#{$grommet-namespace}status-icon {
    flex-grow: 0;
    flex-shrink: 0;
  }
}
div[role=tablist] {
  padding-top: 19px;
  width: 100%;
}

.mid {
  text-decoration: none;
  width: 79%;
  flex-direction: row;
  margin: auto;

}


.header-bar{
  position: relative;
  overflow: hidden;
  height: 10px;
  background: #eee;
  width: 79%;
  margin: auto;
}
.header-bar > i{
  position: absolute;
  width: 45%;
  border-top:  10px solid #0bf;          /* same as parent height */
  border-right: 3px solid transparent;   /* diagonality :) */
}


.school-code {
  font-size: 0.9rem;
  color: #7b7676;
}
.school-name {
    font-family:'AvantGardeGothicITCW01M_731087';
    color: #1193d4;
    font-size: 1.2rem;


}
.schoolSearch-header{
  margin-right: 10px;
}
.under {
  list-style-type: none;
  margin-left: 27px
}


.school-heading {
  list-style-type: none;

  padding-top: 7px;
  min-height: 34px;
  margin-left: 27px
}

.numba2 {

  color: #fff;
background-color: #e0e0e0;
    width: 79%;
height: 56px;
line-height: 56px;

}

.numba1 {
  width: 100%;
}




.count-ready {
  widows: 260px;
}
.numberOne {
  order: 1;
  padding-bottom: 53px;
  width: 79%;

}
.numberInner {
  width: 100%;
}

.colophon {
  width: 100%;
}

.listy {


  > a {
        text-decoration: none;
        color: hsla(0,0%,100%,.85);
  }

  padding-left: 5px;
  list-style-type: none;
}

.footerContainer {
  justify-content: center;
  background-color: #666;
  padding-top: 34px;
  padding-bottom: 34px;
}
img {
    max-width: 273px;
    font-style: italic;
    vertical-align: middle;
}

.list-inline {
  }

.first-header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 79%;
    padding-bottom: 19px;
    padding-top: 36px;
    height: 25px;
    margin: auto;

}

.second-header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 79%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin: auto;
    padding-top: 13px;
}


ul.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    text-decoration: none;

}

.menu a {
    color: #202242;
    font-size: 19px;
    display: block;
    padding: 0rem 2rem 0rem 1rem;
    text-align: center;
    text-decoration: none;

}

ul.breadcrumb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    text-decoration: none;
}

.breadcrumb {
  color: #fff;
  background-color: #ee6e73;
  width: 100%;
  height: 56px;
  line-height: 56px;
}

.breadcrumb a {
    color: #202242;
    font-size: 19px;
    display: block;
    padding: 2rem;
    text-align: center;
    text-decoration: none;
}


.button-groups {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    margin-right: 27px
}

.school-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    margin-right: 27px
}

header {


}

header  {
  width: 100%;
}

.head-name, .head-code {

}

.bigup {
  flex-direction: row;
}

.link {
  color: currentColor;
  cursor: pointer;
  padding: 15px;
  position: relative;
  text-decoration: none;
  font-size: 14px;
  padding: 20px 15px;
}

.#{$grommet-namespace}header__wrapper {
  height: $header-height;
  width: 100%;
  display: flex;
  justify-content: center;


}

.#{$grommet-namespace}header  {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  font-size: 1.2rem;

}

.#{$grommet-namespace}header  h1 > a{

}

.#{$grommet-namespace}header__wrapper nav > ul {
    list-style: none;

}


.nav {
  justify-content: space-between;
}

.#{$grommet-namespace}header__wrapper nav > ul {



}


.#{$grommet-namespace}header--large {
  min-height: $large-header-height;

  .#{$grommet-namespace}header__content {
    line-height: $large-header-height;
  }
}

.#{$grommet-namespace}header--small {


  .#{$grommet-namespace}header__content {
    line-height: $small-header-height;
  }
}

header.#{$grommet-namespace}header {

  // @include transform(translate(0, 0));
  // transition: -webkit-transform 0.5s;
  // transition: transform 0.5s;

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 0;

  }

  h4 {
      color: #3b95d6;
  }

  // &.#{$grommet-namespace}box--direction-row {
  //   > * {
  //     margin-bottom: 0px;
  //   }
  // }
}

.item > * {
  margin-bottom: 0px;

}

.line-break {
    width: 100%;
}
.footerContainere {
  flex-wrap: wrap;
}
.flexy1 {
  order: 1;
  margin-left: -89px;
}
.flexy2 {
  order: 1;
  justify-content: space-between;
}
.flexy3 {
  order: 3;
  border-top: 1px solid #eceded;
  padding-top: 10px;
  color: hsla(0,0%,100%,.85)
}

.footy::before, .footy::after {
  content: '';
  width: 100%;
  order: 1;
}
.item > h6 {
  color: #ffffff;;
}

.item > a {
  color: hsla(0,0%,100%,.85);
}



.contacts {
  background-color: inherit;

}
iframe {
    width: 105%;
    border: 0;
}
.social > div {
   height: 20px;
   margin-bottom: 10px;
   padding-right: 61px;
}
.social > div {
    float: left;
    width: 220px;
}
.social {
    padding-top: 10px;
    text-align: left;
    min-height: 60px;
    overflow: hidden;
}

.flexy4 {
  display: flex;
  margin-left: 10px;
}
.flexy5{
  display: flex;
}

.colophon:after {
    clear: both;
}
.colopon {
  flex-wrap: wrap;
}

.outCol {

  width: 350px
}

.no-heading {
  width: 200px;
padding-left: 79px;
margin-top: 22px;
}

.item-text{
  display: inline;
}

.#{$grommet-namespace}header--splash {
  @include transform(translate(0, 40vh));
}

*:not(.#{$grommet-namespace}header__container--float) > header.#{$grommet-namespace}header--float {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

header.#{$grommet-namespace}header--primary {
  .#{$grommet-namespace}header__wrapper {
    border-bottom: none;
  }
}

.#{$grommet-namespace}header:not(header) {
  &.#{$grommet-namespace}box--separator-top {
    padding-top: quarter($inuit-base-spacing-unit);
  }

  &.#{$grommet-namespace}box--separator-bottom {
    padding-bottom: quarter($inuit-base-spacing-unit);
  }
}

.footer-grid {
  padding-left: 5px;
}

.logo_1 {
  width: 192px;
}
// header with container and wrapper elements
.#{$grommet-namespace}header__container {

}

.#{$grommet-namespace}header__container--fill {
  .#{$grommet-namespace}header {
    background-color: hsla(0, 0%, 94%, 0.9);
  }
}

.#{$grommet-namespace}header__container--fixed {
  position: relative;

  .#{$grommet-namespace}header__wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
    .#{$grommet-namespace}header {
      @include media-query(lap-and-up) {
        position: fixed;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

      }
    }
  }
}

.#{$grommet-namespace}header__container--float {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}



.#{$grommet-namespace}header__wrapper--large {
  height: $large-header-height;
}

.#{$grommet-namespace}header__wrapper--small {
  height: $small-header-height;
}

.#{$grommet-namespace}header--fixed {
  .#{$grommet-namespace}header__wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: $header-background-color;
    z-index: 3;
  }

  &.#{$grommet-namespace}header--primary {
    .#{$grommet-namespace}header__wrapper {
      position: fixed;
      background-color: $header-background-color;
    }

    .#{$grommet-namespace}header__content {
      position: static;
      background-color: transparent;
    }
  }
}

.#{$grommet-namespace}header--flush {
  .#{$grommet-namespace}header__wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}



/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/
.Select {
  position: relative;
}
.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Select.is-disabled > .Select-control {
  background-color: #f9f9f9;
}
.Select.is-disabled > .Select-control:hover {
  box-shadow: none;
}
.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
  opacity: 0.35;
}
.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.Select-control .Select-input:focus {
  outline: none;
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
}
.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #333;
}
.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none;
}
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
  color: #007eff;
  outline: none;
  text-decoration: underline;
}
.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 14px;
  /* For IE 8 compatibility */
  padding: 8px 0 12px;
  /* For IE 8 compatibility */
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.has-value.is-pseudo-focused .Select-input {
  opacity: 0;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px;
}
.Select-clear-zone:hover {
  color: #D0021B;
}
.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}
.Select--multi .Select-clear-zone {
  width: 17px;
}
.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}
.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666;
}
.Select--multi .Select-multi-value-wrapper {
  display: inline-block;
}
.Select .Select-aria-only {
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-selected {
  background-color: #f5faff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.04);
  color: #333;
}
.Select-option.is-focused {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  color: #333;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: default;
}
.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0;
}
.Select--multi.has-value .Select-input {
  margin-left: 5px;
}
.Select--multi .Select-value {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}
.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle;
}
.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}
.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none;
}
.Select--multi a.Select-value-label:hover {
  text-decoration: underline;
}
.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px;
}
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: #d8eafd;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6;
}
.Select--multi .Select-value-icon:active {
  background-color: #c2e0ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.24);
}
.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333;
}
.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3;
}
.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
  background-color: #fcfcfc;
}
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
