@font-face {
  font-family: 'FontAwesome';
  src: url('./fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('./fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('./fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('./fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('./fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('./fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.numberCircle {
    border-radius: 50%;
    width: 23px;
    height: 19px;
    padding: 7px;
    background: #37a0eb;
    /* border: 2px solid #666; */
    color: #ffffff;
    text-align: center;
    font: 19px Arial,sans-serif;
    display: inline-block;
    margin-right: 11px;
}
.numberCircle + span {
  display: inline-block;
}

div[role=tabpanel] {
    padding-top: 19px;
    width: 100%;
}

.test {

  padding-top: 31px;
}
.declaration {

  text-decoration: none;
  padding-top: 26px;
  padding-bottom: 11px;
}
.han {
  padding-left: 30px;
  padding-top: 15px;
  border-bottom: 1px solid rgb(229, 229, 229);
  background: #fffcfc;
  padding-top: 15px;
}

.man {
  padding-left: 30px;
  padding-top: 15px;
  background: #f1f1f1;
  padding-bottom: 10px;
}
.PartA {
  width: 80%;
  padding-left: 30px;

}
.PartA1 {
   background-color: #fff;
   border-bottom: 1px solid #e5e5e5;
   margin-top: 15px;
}

.inside1 {
  text-decoration: none;
}

div[tabindex="0"] {

}

div[tabindex="1"] {

}
div[tabindex="2"] {

}
div[tabindex="3"] {

}
div[tabindex="4"] {

}

h1, h2, h3 {
  font-family:'AvantGardeGothicITCW01M_731087';
font-weight:400;
font-style:normal;
}

h2 {
  font-size: 23px;
}



#tab-0 {

  &:before {
    content: url(./fonts/svg/basic1-007_house_home.svg);
    z-index: 10;
    display: block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.3em;
    font-family: 'FontAwesome';
    line-height: 1;
    speak: none;
    margin-left: 13px;
  }

  &:hover {

    color: green;
  }

}

#tab-1 {

  &:before {
    content: url(./fonts/svg/basic1-174_ok_success_check.svg);
    z-index: 10;

    display: block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.3em;
    font-family: 'FontAwesome';
    line-height: 1;
    speak: none;
  }

  &:hover {

    color: green;
  }

}

#tab-2 {

    &:before {
    content: url(./fonts/svg/basic1-174_ok_success_check.svg);
    z-index: 10;

    display: block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.3em;
    font-family: 'FontAwesome';
    line-height: 1;
    speak: none;
  }

  &:hover {

    color: green;
  }
}

.grommetux-tabs + div {
  margin: 0 auto;
  padding: 0;
  background: white;
  padding-top: 19px;
  padding-bottom: 19px;
}

.grommetux-tabs > li > a {
  font-size: 1.0rem;
  max-height: 35.2px;
}
#tab-3 {

    &:before {
    content: url(./fonts/svg/basic1-121_alert_attention.svg);
    z-index: 10;

    display: block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.3em;
    font-family: 'FontAwesome';
    line-height: 1;
    speak: none;
  }

  &:hover {

    color: green;
  }

}

#tab-4 {

  &:before {
    content: url(./fonts/svg/basic1-121_alert_attention.svg);
    z-index: 10;

    display: block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.3em;
    font-family: 'FontAwesome';
    line-height: 1;
    speak: none;
    margin-left: 13px;
  }

  &:hover {

    color: green;
  }

}


#tab-5 {

  &:before {
    content: url(./fonts/svg/basic1-121_alert_attention.svg);
    z-index: 10;

    display: block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.3em;
    font-family: 'FontAwesome';
    line-height: 1;
    speak: none;
    margin-left: 13px;
  }

  &:hover {

    color: green;
  }

}

.#{$grommet-namespace}tab {
  padding: 0 halve($inuit-base-spacing-unit);
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: white;
  padding-top: 23px;
  padding-bottom: 21px;
  height: 65px;
  box-shadow: 1px 1px 1px 0 #aaa;
  &:hover {
    background: #f7f7f7;
  },


  .#{$grommet-namespace}tabs--justify-start &:first-of-type,
  .#{$grommet-namespace}tabs--justify-end &:first-of-type {
    padding-left: 0;
  }

  .#{$grommet-namespace}tabs--justify-start &:last-of-type,
  .#{$grommet-namespace}tabs--justify-end &:last-of-type {
    padding-right: 0;
  }

  .#{$grommet-namespace}tabs--responsive &:first-of-type,
  .#{$grommet-namespace}tabs--responsive &:last-of-type {
    @include media-query(palm) {
      padding-left: halve($inuit-base-spacing-unit);
      padding-right: halve($inuit-base-spacing-unit);
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
    overflow: visible;
    line-height: 1;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;

    &:hover {

    },
    &:visited,
    &:link,
    &:active {
      text-decoration: none;
    }

    &:before {
      z-index: 10;
      display: inline-block;
      margin: 0 0.4em 0 0;
      vertical-align: middle;
      text-transform: none;
      font-weight: normal;
      font-variant: normal;
      font-size: 1.3em;
      font-family: 'stroke7pixeden';
      line-height: 1;
      speak: none;
      -webkit-backface-visibility: hidden;
      -webkit-font-smoothing: antialiased;

    }

    &:after {
      position: absolute;
      top: 20%;
      right: 0;
      z-index: -1;
      width: 1px;
      height: 60%;
      background: rgba(0,0,0,0.07);
      content: '';
    }







    &:focus:not(tab--active .#{$grommet-namespace}tab__link) {
      .#{$grommet-namespace}tab__label {
        border-color: $border-color;
      }
    }
  }

  &__label {
    display: inline-block;
    cursor: pointer;
    padding-bottom: quarter($inuit-base-spacing-unit) + $active-border-width;
    color: $secondary-text-color;
    border-bottom: $active-border-width solid transparent;
    white-space: nowrap;
  }

  &__subtitle {
    display: block;
    cursor: pointer;
    padding-bottom: quarter($inuit-base-spacing-unit) + $active-border-width;
    color: $secondary-text-color;
    border-bottom: $active-border-width solid transparent;
    text-transform: uppercase;
    font-size: 0.8rem;
    white-space: nowrap;

  }

  &--active {


    box-shadow: inset 0 3px 0 #37a0eb, 1px 1px 1px #aaa;
    color: #2CC185;
    border-top-color: #2CC185;
    border-bottom: none;
    background: linear-gradient(#fff,#f5f3f3);





  }
  &--active .#{$grommet-namespace}tab__link:hover {
    .#{$grommet-namespace}tab__label {
      color: $hover-text-color;
      border-color: none;
    }
  }

  &:hover {
    .#{$grommet-namespace}tab__label {
      border-color: none;
    }
  }
}
