// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

$button-vertical-padding:
  round($inuit-base-spacing-unit / 3) - $button-border-width;
$button-horizontal-padding:
  round($inuit-base-spacing-unit) - $button-border-width;

@mixin basic-button {
  padding: $button-vertical-padding $button-horizontal-padding;
  background-color: transparent;
  border: $button-border-width solid $button-border-color;
  border-radius: $border-radius;
  color: $button-text-color;
  @include inuit-font-size($control-font-size, $inuit-base-spacing-unit);
  font-weight: $button-font-weight;
  cursor: pointer;
  text-align: center;
  outline: none;
  min-width: $button-min-width;
  max-width: $button-max-width;

  @include media-query(lap-and-up) {
    transition: 0.1s ease-in-out;
  }
}

.separate-button {
  margin-left: 17px;
}

.button-group-padding {
  padding-top: 10px
}



.#{$grommet-namespace}button-base{
    border: 0;
    cursor: pointer;
    outline: none;
    position: relative;
    user-select: none;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0.0);
}


.#{$grommet-namespace}button-icon {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    width: 48px;
    height: 48px;
    z-index: 1;
    padding: 0;
    display: inline-flex;
    font-size: 24px;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0.0, 0.2, 1) 0ms;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background-color: transparent;
}


#search-an:focus {
	width: 130px !important;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
.#{$grommet-namespace}button-icon--contrast {

}

.#{$grommet-namespace}button-icon--label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.#{$grommet-namespace}button-icon--keyboardfocused {

}

.search-header {
  width: 80%;
  margin: auto;
  justify-content: space-between;
}
.btn-extra {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 8px 16px;
    font-size: 13px;
    line-height: 2;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 0;
    background-color: transparent;
    font-weight: inherit !important;

    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;

}

.btn-extra-2:hover {
  background-color: #2b95ec !important;
}

.#{$grommet-namespace}button--search-focus {
  width: 100% !important;
transition: all .8s;

}
.header-2 {
  width: 80%;
  margin: auto;
}

.#{$grommet-namespace}table--step-active {
  box-shadow: inset 0 3px 0 #37a0eb !important;
}

.#{$grommet-namespace}button--search-notfocus {
  width: 0% !important;
  color: white !important;
  opacity: 0;

  > input {
    color: white !important;
    display: none;
  }

	//display: none !important;
	transition: all .8s;
};





.#{$grommet-namespace}button {
  @include basic-button();

  &--focus {
    border-color: $focus-border-color;
    box-shadow: 0 0 1px 1px $focus-border-color;
  }

  @include background-context-color($button-text-color, $button-text-color);
}

.#{$grommet-namespace}button:hover {
  .#{$grommet-namespace}control-icon {
    @include icon-color($active-icon-color);
    transition: none;
  }

  #{$dark-background-context} {
    .#{$grommet-namespace}control-icon {
      @include icon-color($active-colored-icon-color);
    }
  }

  #{$light-background-context} {
    .#{$grommet-namespace}control-icon {
      @include icon-color($active-icon-color);
    }
  }
}

.#{$grommet-namespace}button__icon {
  display: inline-block;

  .#{$grommet-namespace}control-icon {
    vertical-align: bottom;
  }
}

.#{$grommet-namespace}button--primary {
  &:not(.#{$grommet-namespace}button--focus) {
    border-color: #37a0eb;
  }
  background-color:#37a0eb;
  color: $active-colored-text-color;

  &:hover:not(.#{$grommet-namespace}button--disabled) {
    color: $active-colored-text-color;

   .#{$grommet-namespace}button__icon .#{$grommet-namespace}control-icon {
      @include icon-color($active-colored-icon-color)
    }
  }

  .#{$grommet-namespace}control-icon {
    @include icon-color($active-colored-icon-color);
  }

  @include background-context-color($active-colored-text-color,
    $active-colored-text-color);
}

.#{$grommet-namespace}button--secondary:not(.#{$grommet-namespace}button--focus) {
  border-color: $button-secondary-color;
}

.#{$grommet-namespace}button--accent:not(.#{$grommet-namespace}button--focus) {
  border-color: $button-accent-color;
}

.#{$grommet-namespace}button--align-start {
  text-align: left;

  html.rtl & {
    text-align: right;
  }
}

.#{$grommet-namespace}button--plain {
  border: none;
  padding: 0;
  width: auto;
  height: auto;
  min-width: 0;
  max-width: none;
  font-weight: inherit;

  .#{$grommet-namespace}button__label {
    margin: 0 halve($inuit-base-spacing-unit);
  }

  .#{$grommet-namespace}button__icon {
    padding: halve($inuit-base-spacing-unit);

    + .#{$grommet-namespace}button__label {
      margin-left: 0;
    }
  }
}

.#{$grommet-namespace}button:not(.#{$grommet-namespace}button--plain) {
  .#{$grommet-namespace}button__icon {

    @include background-context-icon($button-text-color, $button-text-color);

    + .#{$grommet-namespace}button__label {
      margin-left: halve($inuit-base-spacing-unit);
    }
  }
}

.#{$grommet-namespace}button--disabled {
  opacity: 0.3;
  cursor: default;
}

.#{$grommet-namespace}button:not(.#{$grommet-namespace}button--fill) {
  flex: 0 0 auto;
}

.#{$grommet-namespace}button--fill {
  width: 100%;
  max-width: none;
  // used to add full height for button inside a flex container
  flex-grow: 1;
}