.#{$grommet-namespace}tabs {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  > a {
    padding: 2em 0;
    line-height: 1;
    transition: color 0.2s;
  }


  &--justify {
    &-center {
      justify-content: center;
    }

    &-start {
      justify-content: flex-start;
      height: 120px;
      margin-bottom: 5px;
    }

    &-end {
      justify-content: flex-end;
    }

    &-start,
    &-center,
    &-end {
      &.#{$grommet-namespace}tabs--responsive {
        @include media-query(palm) {
          flex-direction: column;
          text-align: center;
        }
      }
    }
  }

  + div:focus {
    outline: none;
  }
}

.#{$grommet-namespace}tabs__content {


}
.tabwidth {
  padding-top: 0px;
  box-shadow: 1px 1px 1px 0 #aaa;
}


div[tabindex="0"] {
  width:100%;
}
